#topo{
    height: 40.5vh;
    background-color: white;
}
.logo{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 425px;
    margin-right: 50px;
}
#menu{
        background-color:teal;
}
#menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}
#menu a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
}
#menu li{
    flex: 1 1 0;
}
#menu ul li:hover{
    background-color:rgb(1, 46, 46);
    transition: ease 0.4s;
}
#conteudo{
    background-color: yellowgreen;
    height: 45.5vh;
    text-align: justify;
}